h1{
	font:36pt arial;
	text-align:center;
}

div{
	text-align:center;
}

table{
	margin:auto;
}

button{
	width:300px;
}

body{
	background-color:#b0d2cf;
}

p, h2{
	text-align:center;
}
