h1{
	font:36pt arial;
	text-align:center;
}

div{
	text-align:center;
}

table{
	margin:auto;
}

button{
	width:400px;
}

body{
	background-color:#b0d2cf;
}

p, h2{
	text-align:center;
}

td{
	padding:20px;
}

p{
	font:16pt garamond;
}

h2{
	font:22pt franklin gothic
}